﻿@model APP_SECURITAS.Models.PlanesCob
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="~/Scripts/jquery-3.0.0.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/Tls.js"></script>
    <script type="text/javascript">
        function SPSendCBX() {
            gEBI("HDcbxPlan").value = gEBI("cbxPlan").value;
            gEBI("Frm").action = "@Url.Action("ConsPlanes", "PlanCob")"; gEBI("Frm").method = "post";
            gEBI("Frm").submit();
        }
        function FNGuardar() {
            if (!FNFrcWrt("cbxPlan", "Favor de seleccionar un Plan", "cbxPlan")) return false;
            if (!FNFrcWrt("cbxCob", "Favor de seleccionar una Cobertura", "cbxCob")) return false;
            gEBI("Frm").action = "@Url.Action("Guardar", "PlanCob")"; gEBI("Frm").method = "post";
            gEBI("Frm").submit();
        }
    </script>
</head>
<body>
    <form id="Frm" name="Frm">
        <div>
            <h1>Planes Con Coberturas.</h1>
            <div class="form-group">
                <label for="sel1">Selecciona un Plan:</label>
                @Html.DropDownListFor(m => m.IDPlan, Model.LCbxPlanes, "-- Selecciona una opción --", new { @class = "form-control", @id = "cbxPlan", @onChange = "SPSendCBX();" })
            </div>

            <div class="form-group">
                <label for="lUser">Selecciona una Coberturas:</label>
                @Html.DropDownListFor(m => m.IDCob, Model.LCbxCob, "-- Selecciona una opción --", new { @class = "form-control", @id = "cbxCob" })
            </div>
            <br />
            <input type="button" id="btnAdd" name="btnAdd" class="btn alert-info" value="Agregar" onclick="return FNGuardar()" />
            <br /><br />
            <table id="tbl1" class="table table-bordered">
                <thead>
                    <tr>
                        <th>Descripción</th>
                        <th>Acción</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var oPlanCob in Model.IPlanesCob)
                    {
                        <tr>
                            <td>
                                @oPlanCob.Descripcion
                            </td>
                            <td>
                                <a href="@Url.Content("~/PlanCob/DelPlanCob?nIDCob=" + oPlanCob.IDPlanCob)" onclick="return FNBorrar()" target="FrmMain">Eliminar</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <input type="hidden" id="HDEsGuardar" name="HDEsGuardar" value="0" />
        <input type="hidden" id="HDcbxPlan" name="HDcbxPlan" value="0" />
    </form>
</body>
</html>
