﻿@model APP_SECURITAS.Models.Planes
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="~/Scripts/jquery-3.0.0.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/Tls.js"></script>
    <script type="text/javascript">
        function Upd() {

            var CliObj = {
                Descripcion: $('#txtPlan').val(),
                IDPlan: $('#HDIDPlan').val()
            };
            $.ajax({
                url: "/Planes/Edit",
                data: JSON.stringify(CliObj),
                type: "POST",
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (result) {
                    top.location = "@Url.Action("Index", "Home")";
                },
                error: function (errormessage) {
                    alert(errormessage.responseText);
                }
            });
        }
        function Add() {
            var CliObj = {
                Descripcion: $('#txtPlan').val()
            };
            $.ajax({
                url: "/Planes/Add",
                data: JSON.stringify(CliObj),
                type: "POST",
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (result) {
                    top.location = "@Url.Action("Index", "Home")";
                },
                error: function (errormessage) {
                    alert(errormessage.responseText);
                }
            });
        }
        function FNGuardar() {
            if (!FNFrcWrtONLYBlanc("txtPlan", "Favor de escribir una Descripción, este campo no puede ir en Blanco","txtPlan")) return false;
            var nIDCLi = gEBI("HDIDPlan").value;
            if (nIDCLi == 0) {
                Add();
            }
            else {
                Upd();
            }
        }
    </script>
</head>
<body>
    <form id="Frm" name="Frm">
        <div class="container">
            <h2>Registro de Planes</h2>
            <div class="form-group">
                <label for="sel1">Nombre del Plan:</label>
                <input type="text" id="txtPlan" name="txtPlan" placeholder="Nombre del Plan" class="form-control" value="@Model.Descripcion"/>
            </div>
            
            <input type="button" value="Guardar" CssClass="btn btn-default" OnClick="return FNGuardar();" />
        </div>
        <input type="hidden" id="HDIDPlan" name="HDIDPlan" value="@Model.IDPlan"/>
    </form>
</body>
</html>
