﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="~/Scripts/jquery-3.0.0.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/Tls.js"></script>
    <title>SEGURITAS</title>

    <script type="text/javascript">
        window.onload = SPLdTblMN;
    </script>

</head>
<body>
    <table id="TBPrin" class="table table-bordered">
        <tr>
            <td valign="top">
                Menu<br />
                <a href="@Url.Action("Index", "Inicio")" target="FrmMain">Clientes</a><br />
                <a href="@Url.Action("Index", "Cliente")" target="FrmMain">Registro de Clientes</a><br />
                <a href="@Url.Action("Index", "Coberturas")" target="FrmMain">Nueva Cobertura</a><br />
                <a href="@Url.Action("Index", "ListaCob")" target="FrmMain">Ver Coberturas</a><br />
                <a href="@Url.Action("Index", "Planes")" target="FrmMain">Nuevo Plan</a><br />
                <a href="@Url.Action("Index", "ListaPlan")" target="FrmMain">Ver Planes</a><br />
                <a href="@Url.Action("Index", "PlanCob")" target="FrmMain">Planes Con Coberturas</a><br />
                <a href="@Url.Action("Index", "ClientePlan")" target="FrmMain">Clientes Con Planes</a><br />                
            </td>
            <td valign="top" width="95%" id="TD1" height="92%">
                <iframe id="FrmMain" name="FrmMain" src="@Url.Action("Index", "Inicio")" frameborder="0"></iframe>
            </td>
        </tr>
    </table>
</body>


</html>
