﻿@model APP_SECURITAS.Models.Clientes
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="~/Scripts/jquery-3.0.0.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/Tls.js"></script>
    <script type="text/javascript">
        function Upd() {

            var CliObj = {
                Nombre: $('#txtCli').val(),
                IDCli: $('#HDIDCli').val()
            };
            $.ajax({
                url: "/Cliente/Edit",
                data: JSON.stringify(CliObj),
                type: "POST",
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (result) {
                    top.location = "@Url.Action("Index", "Home")";
                },
                error: function (errormessage) {
                    alert(errormessage.responseText);
                }
            });
        }
        function Add() {            
            var CliObj = {
                Nombre: $('#txtCli').val()
            };
            $.ajax({
                url: "/Cliente/Add",
                data: JSON.stringify(CliObj),
                type: "POST",
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (result) {
                    top.location = "@Url.Action("Index", "Home")";
                },
                error: function (errormessage) {
                    alert(errormessage.responseText);
                }
            });
        }

        function FNGuardar() {
            if (!FNFrcWrtONLYBlanc("txtCli", "Favor de escribir un Nombre, este campo no puede ir en Blanco","txtCli")) return false;

            var nIDCLi = gEBI("HDIDCli").value;
            if (nIDCLi == 0) {
                Add();
            }
            else {
                Upd();
            }
        }

    </script>
</head>
<body>
    <form id="Frm" name="Frm">
        <div class="container">
            <h2>Registro de Clientes</h2>
            <div class="form-group">
                <label for="sel1">Nombre del Cliente:</label>
                <input type="text" id="txtCli" name="txtCli" placeholder="Nombre del Cliente" class="form-control" value="@Model.Nombre" />
            </div>   
            
            <input type="button" value="Guardar" CssClass="btn btn-default" OnClick="return FNGuardar();" />
        </div>
        <input type="hidden" id="HDIDCli" name="HDIDCli" value="@Model.IDCli" />
    </form>
</body>
</html>
