﻿@model APP_SECURITAS.Models.Coberturas
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="~/Scripts/jquery-3.0.0.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <div>
        <table id="tbl1" class="table table-bordered">
            <thead>
                <tr>
                    <th>Nombre de la Cobertura</th>
                    <th>Editar</th>
                    <th>Eliminar</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var Cob in Model.ICoberturas)
                {
                    <tr>
                        <td>
                            @Cob.Descripcion
                        </td>
                        <td>
                            <a href="Coberturas/ActCob?nIDCob=@Cob.IDCob">Actualizar</a>
                        </td>
                        <td>
                            <a href="Coberturas//DelCob?nIDCob=@Cob.IDCob">Eliminar</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>
</html>
