﻿@model APP_SECURITAS.Models.Planes
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="~/Scripts/jquery-3.0.0.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/Tls.js"></script>
</head>
<body>
    <div class="container">

        <table id="tbl1" class="table table-bordered">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Editar</th>
                    <th>Eliminar</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var Plan in Model.IPlanes)
                {
                    <tr>
                        <td>
                            @Plan.Descripcion
                        </td>
                        <td>
                            <a href="Planes/ActPlan?nIDPlan=@Plan.IDPlan">Actualizar</a>
                        </td>
                        <td>
                            <a href="Planes/DelPlan?nIDPlan=@Plan.IDPlan">Eliminar</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</body>
</html>
