﻿@model APP_SECURITAS.Models.Clientes
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="~/Scripts/jquery-3.0.0.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <title>Index</title>
</head>
<body>
    <div>
        <table id="tbl1" class="table table-bordered">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Editar</th>
                    <th>Eliminar</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var Cli in Model.IClientes)
                {
                <tr>
                    <td>
                        @Cli.Nombre
                    </td>
                    <td>
                        <a href="Cliente/ActCliente?nIDCli=@Cli.IDCli">Actualizar</a>
                    </td>
                    <td>
                        <a href="Cliente/DelCliente?nIDCli=@Cli.IDCli">Eliminar</a>
                    </td>
                </tr>
                }
            </tbody>
        </table>
     </div>
</body>
</html>
